@define-color bg #1a1a1c;
@define-color fg #f8f8f8;
@define-color gray1 #d7be67;
@define-color gray2 #ba8d22;
@define-color gray3 #cbb15b;
@define-color gray4 #f5c651;
@define-color gray5 #b6afb6;
@define-color fg_bright #f8f8f8;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}